<template name="stocklist">
  <div class="posts page">
  	
  <div class="container">
    <h1 class="display-3">Stock Card</h1>
  </div>

  <!-- Button trigger modal -->

{{>showlist}}

{{#if showModal}}
    test

{{/if}}

  	<table class="ui celled striped selectable  inverted table">
  	<thead>
    <tr>
    	<th>Lot Number</th>
    <th>Product</th>
    <th>Package</th>
    <th>In stock</th>
    <th>Loaded</th>
    <th>Customer</th>
    <th>Laboratory</th>
    <th>QR Code</th>
    <th>Create By</th>
  </tr></thead>
	<tbody>
    {{#each stocks}}
		<tr>	
		<td><div data-tooltip="{{LotID}}" data-inverted="">
		<a href="{{pathFor 'loglist'}}" >
		{{#if equals Status "loading"}}
			<a class="ui orange ribbon label"><h4><i class="shipping icon"></i>Loading {{LotID}}</h4></a>
		{{else if equals Status "process"}}
			<a class="ui blue ribbon label"><h4><i class="wait icon"></i>Process {{LotID}}</h4></a>
		{{else if equals Status "IDLE"}}
			<a class="ui ribbon label"><h4><i class="inbox icon"></i>{{LotID}}</h4></a>
		{{else}}
			{{LotID}}
		{{/if}}

		</a></div></td>
		<td>{{Name}}</td>
		<td>{{Capacity}} KG</td>
		<td>{{Remain}}</td>
		<td>{{Checkout}}</td>
		<td>customer</td>
		<td ><a href="{{pathFor 'qrcodelist' Start='1' End='20' }}" ><i class="icon checkmark"></i> Pass</a></td>
		<td>
			<a class='text-warning qrcodeModal' href="#qrcodeModal" data-toggle="modal">QRCode</a>
			

  
		</td>
		<td><a href="{{pathFor 'stockEdit'}}" >{{username}}</a></td>
		</tr>    {{/each}}
	</tbody>
	</table>
	
 </div>
</template>