<template name="showlist">
  <div class="posts page">

  <!-- Button trigger modal -->

<!-- Modal -->

<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generate QRCode</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="myclass">
      <div class="modal-body">
        
  
         
        <div class="ui form">
        <div class="fields">
          <div class="field">
            <label>From</label>
            <input type="text" class="form-control" name='start' id="recipient-name" placeholder="">
          </div>
          <div class="field">
            <label>To</label>
            <input type="text" class="form-control" name='end' id="message-text" placeholder="">
          </div>
          
        </div>
      </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" Values="Generate QRCode" class="btn btn-primary"/>
      
      </div>
      </form>
    </div>
  </div>
</div>

 </div>
</template>
